body{
  background-color: #E5E5E5;
  //color: #{$shade75};

}

.cards_page{
  display: flex;
  padding: vw(48) vw(120) 0;

  &__search_number{
    margin-bottom: vw(39);
  }
  &__room_order{
    margin-bottom: vw(38);
  }
  &__datepicker{
    margin-bottom: vw(38);
  }
  &__rooms{
    align-items: initial;
  }
}

.search_number{
  background: #ffffff;
  width: vw(380);
  height: vw(374);
  padding: vw(40) vw(30) vw(30) vw(30);
  margin: vw(20);
  &__label{
    margin-bottom: vw(23);
  }
  &__dates_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: vw(20);
  }

  .dropdown{
  margin-bottom: vw(34);
  }
  &__button_to-do{

  }
}

.signup{
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: vw(380);
  height: vw(646);
  padding: vw(42) vw(30) vw(30) vw(30);
  margin: vw(20);
  &__label{
    margin-bottom: vw(16);
  }
  &__name{
    margin-bottom: vw(2);
  }
  &__surname{
    margin-bottom: vw(4);
  }
  &__sex_radio{
    margin-bottom: vw(25);
  }
  &__birthdate{
    margin-bottom: vw(19);
  }
  &__password{
    margin-bottom: vw(7);
  }
  &__toggle{
    margin-bottom: vw(25);
  }
  &__button_to-do{
    margin-bottom: vw(32);
  }
  &__login_wrap{
    &__ifExiste{
    margin-right: vw(37);
    }
    display: flex;
    //justify-content: space-between;
    align-items: center;
  }
}

.room-order-card{
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: vw(380);
  height: vw(512);
  padding: vw(40) vw(30) vw(30) vw(30);
  margin: vw(20);
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.05px;
    margin-bottom: vw(22);
    &_number {
      &_n, &_number, &_bonus {
        display: inline;
      }
      &_bonus{
        color: #{$Purple};
      }
    }
    &_pricing{
      align-self: flex-end;
      &_price, &_per{
        display: inline;
      }
      &_price{
        color: #{$shade50};
      }
    }
  }
  &__dates_range{
    display: flex;
    justify-content: space-between;
    margin-bottom: vw(20);
  }
  .dropdown{
    margin-bottom: vw(23.5);
  }
  &__details{
    &_per-days, &_fees_bonus, &_fees{
      display: flex;
      justify-content: space-between;
      margin-bottom: vw(15.5);
    }
    &_fees_bonus_wrap, &_fees_wrap{
      display: flex;
      justify-content: space-between;
      width: vw(240);
    }
    &_fees_bonus-info, &_fees-info{
      border-radius: 50%;
      border: 1px solid #{$shade25};
      width: vw(20);
      height: vw(20);
      text-align: center;
    }

    &_per-days-count, &_per-days-price, &_fees_bonus-describe, &_fees_bonus-info,
    &_fees_bonus-price, &_fees-describe, &_fees-info, &_fees-price{
      display: inline-block;

    }
    &__details_fees-describe{
      width: vw(214);
    }
    &_total{
      margin-top: vw(27);
      margin-bottom: vw(23);
      &_separator{
        content: '';
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        flex-grow: 1;
      }
      display: flex;
      justify-content: space-between;
    }
  }

}

.log-in{
  width: vw(380);
  height: vw(358);
  background-color: #ffffff;
  padding: vw(42) vw(30) vw(30) vw(30);
  margin: vw(20);
  position: relative;
  z-index: 1;
  &__label{
    margin-bottom: vw(20);
  }
  &__button_to-do{
    margin: vw(18) 0 vw(30) 0;
  }
  &__signup_wrap{
    display: flex;
    align-items: center;
    &__text{
      margin-right: vw(50);
    }
  }
}
.card_date-field{
  margin: vw(20);
}

.room-card{
  img{
    width: 100%;
  }
  width: vw(270);
  border-radius: 4px;
  height: vw(257.5);
  background-color: #ffffff;
  margin-bottom: vw(40);
  &_general{
    padding: vw(17.5) vw(10) vw(20) vw(20);
    &_hr{
      color: #{$shade10};
      background-color: #{$shade10};
      height: 1px;
      border: none;
    }
  }
  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: vw(10);
    &_number {
      display: flex;
      align-items: center;
      &_n, &_bonus {
        align-self: flex-end;
      }
      &_bonus{
        color: #{$Purple};
      }
    }
    &_pricing{
      padding-top: 3px;
      padding-right: 4.5px;
      &_price, &_per{
        display: inline;
      }
      &_price{
        color: #{$shade50};
        font-size: vw(14);
      }
      &_per{
        text-transform: none;
      }
    }
  }
  &__rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: vw(10);
    padding: 0 10px 0 2px;
    &_reviews{
     &_count, &_review{
       display: inline;
     }
      &_count{
        color: #{$shade50};
        font-size: vw(14);
      }
    }
  }

}