//body{
//  background-color: #E5E5E5;
//}
.logo_group{
  margin-top: vw(30);
  margin-left: vw(30);
}
.social-icon{
  width: vw(22);
  height: vw(22);
}
.blocks-separator{
  &__header-initial {
    margin-top: 60px;
  }
  &__header-logged{
    margin-top: 37px;
  }
  &__footer-expanded{
    margin-top: 41px;
  }
  &__footer-mobile{
    margin-top: 42px;
  }
}
.header-initial{
  z-index: 1;
  position: relative;

  background-color: #ffffff;
  height: vw(70);
  width: 100%;
  padding: 0 vw(140);
  display: flex;

  justify-content: space-between;
  &__elements{
    display: flex;
    align-items: center;
  }
  &__logo_wrap{
    display: flex;
    align-items: center;

    .logo-purple{
      margin-right: 12px;
    }
  }
  .header-initial__buttons_enter{
      margin-right: vw(20);

    }

  &__nav{
  margin-right: vw(20);

    &__element {
      cursor:  pointer;
      display: inline;
      margin:  0 8.5px;
      color:   #{$shade50};
      &:first-child{
        color: #{$shade75};
        cursor: auto;
        font-family: Montserrat_Bold, sans-serif;
      }
      &:hover {
        color: #{$shade75};
      }
      &:last-child{
        margin-right: 7px;
      }
    }
  }
  &__buttons_wrap{
    display: flex;
    margin-right: 4px;
    .button-purple {
      .buttonCommon__button {
        padding: vw(10) vw(22);
      }
    }
      .button-transparent {
        margin-top: 1px;
      }
      }
}


.header-logged {
  z-index:          1;
  background-color: #ffffff;
  height:           vw(70);
  width:            100%;
  display:          flex;
  padding:          0 vw(140);
  justify-content:  space-between;

  align-items:      center;

  &__logo_wrap {
    display:     flex;
    align-items: center;

    .logo-purple {
      margin-right: 12px;
    }

  }

  &__elements {
    display: flex;
    align-items: center;
  }


  &__nav {
    &__element {
      display: inline;
      cursor:  pointer;
      margin:  0 8.5px;
      color:   #{$shade50};
      &:first-child{
        color: #{$shade75};
        cursor: auto;
        font-family: Montserrat_Bold, sans-serif;
      }
      &:hover {
        color: #{$shade75};
      }
    }
  }
&__separator{
  width: 1px;
  height: vw(30);
  background-color: #{$shade10};
  margin: 0 10px;
}
  &__user{
    color: #{$shade50};
    margin: 0 10px;
  }
}

.footer-expanded{
  background-color: #ffffff;
  height: vw(443);
  width: 100%;

  &__first-row{
    display: flex;
    //justify-content: space-between;
    align-items: flex-start;
    padding: vw(82) vw(140) vw(100) vw(140);
  }
  &__separator{
    margin-bottom: 17px;
  }
  &__second-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw(5) vw(140);
  }
  &__logos-info {
    color: #{$shade75};
    font-family: Montserrat_Medium, sans-serif;
    line-height: vw(24);
    margin-right: vw(35);
    &__logo_wrap {
      display: flex;
      align-items: center;
      margin-top: vw(15);
      margin-bottom: vw(20);
      .logo-purple {
        margin-right: 12px;
      }
    }
    &__title{
      white-space: nowrap;
    }
  }
  &__nav{
    margin-right: vw(55);
    &__element{
      cursor:  pointer;
        margin-top: vw(20);
      color:   #{$shade50};
      &:first-child{
        color: #{$shade75};
        cursor: auto;
        font-family: Montserrat_Bold, sans-serif;
      }
      &:hover {
        color: #{$shade75};
      }
    }

  }
  &__about-us{
    margin-right: vw(92);
  &__element {
      cursor:  pointer;
      margin-top: vw(20);
      color:   #{$shade50};
      &:first-child{
        color: #{$shade75};
        cursor: auto;
        font-family: Montserrat_Bold, sans-serif;
      }
      &:hover {
        color: #{$shade75};
      }
    }
  }
  &__support{
    margin-right: vw(43);
  &__element {
      cursor:  pointer;
      margin-top: vw(20);
      color:   #{$shade50};
      &:first-child{
        color: #{$shade75};
        cursor: auto;
        font-family: Montserrat_Bold, sans-serif;
      }
      &:hover {
        color: #{$shade75};
      }
    }
  }
  &__subscribe{
    //margin-right: vw(50);
      &__element {

      cursor:  pointer;
          margin-top: vw(20);
      color:   #{$shade50};
      &:first-child{
        color: #{$shade75};
        cursor: auto;
        font-family: Montserrat_Bold, sans-serif;
      }
      &:hover {
        color: #{$shade75};
      }
    }
  }

  &__socials{
    &__item{
      margin-left: 18px;
      &:first-child{
        margin-left: 28px;
      }
    }
  }
}

.footer-mobile_wrap{
  display: flex;
  justify-content: center;
}
.footer-mobile{
  background-color: #ffffff;
  height: vw(367);
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logos-info{
    display: flex;
    align-items: center;
    .logo-purple {
      margin-right: 12px;
    }
  }
  &__copyright{
    margin: vw(20) 0;
    color: #{$shade75};
  }
  &__socials{
    &__item{
      margin: 0 vw(10);

    }
  }
}