section.colors
	div.colors__block
		figure.colors__block_shade_100
		figcaption
			h2 <b>Dark Shade 100%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_75
		figcaption
			h2 <b>Dark Shade 75%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_50
		figcaption
			h2 <b>Dark Shade 50%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_25
		figcaption
			h2 <b>Dark Shade 25%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_5
		figcaption
			h2 <b>Dark Shade 5%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_purple
		figcaption
			h2 <b>Purple</b>
			p #BC9CFF
	div.colors__block
		figure.colors__block_green
		figcaption
			h2 <b>Green</b>
			p #6FCF97