div.first_row
	section.first_row_forms
		section.form_elements__commonForms
			+formCommon('email', 'Text field', 'Email', ['emailInput', 'textForm'], 'Default')
			+formCommon('email', 'Text field', 'This is pretty awesome', ['emailInput', 'textForm', 'hoverFocus'], 'Hover/Focus')
			+formCommon('text', 'Dropdown', 'Сколько гостей', ['dropdown', 'dropdown_guests'])
			+formCommon('text', 'Masked Text Field', 'ДД.ММ.ГГГГ', ['textForm'])
			div.dropdown_date_wrapper
				+formCommon('date', 'Date Dropdown', '', ['date',])
				+formCommon('date', 'Date Dropdown', '', ['date', 'dropdown_date_checked'])
			+formCommon('text', 'Filter Date Dropdown', '', ['date', 'dropdown_date', 'dropdown_date_filter'])
			+formCommon('text', 'Subscription text field', 'Email', ['emailInput', 'subscribe_form'])
	section.first_row_checkboxes
		section.form_elements__checkboxes
			+formCheckbox('Checkbox Buttons', 'Example_buttons','Можно курить', 'Можно с питомцами', 'Можно пригласить гостей<br>(до 10 гостей)')
		section.form_elements__radio
			+formRadio('Radio Buttons', 'Example_radio', 'Мужчина', 'Женщина')
		section.form_elements__toggle
			+formToggle('Получать спецпредложения', 'example', 'Toggle')
			+formToggle('Получать спецпредложения', 'example_checked')

		section.form_elements__likes
			h3 Like button
			+buttonLike(2, 'like_def')
			+buttonLike(2, 'like_checked')
		section.form_elements__rate
			h3 Rate button
			+rangeRate('Rate_button')
			+rangeRate('Rate_button_example')
	section.first_row_assets
		section.form_elements__range
			h3 Range slider
			div
				+rangeSlider(0, 500)
		//section.form_elements_buttonCommon
		//	h3 Buttons
		//	+buttonCommon('Click me')
		//	+buttonCommon('Click me')
		//	+buttonCommon('Click me')
		//	+buttonCommon('Click me')
		//	+buttonCommon('Click me')
		//	+buttonCommon('Click me')
		//	+buttonCommon('Перейти к оплате')
		//section.form_elements_pagination
		//	+pagination(4)