div.first_row
	section.first_row_wrapper(class='forms-section')
		section.form_elements__commonForms
			+formCommon('email', 'Text field', 'Email', ['email-input', 'textForm'], 'Default')
			+formCommon('email', 'Text field', 'This is pretty awesome', ['emailInput', 'textForm', 'hoverFocus'], 'Hover/Focus')
			+formCommon('text', 'Dropdown', 'Сколько гостей', ['dropdown', 'dropdown_guests'])
			+formCommon('text', 'Masked Text Field', 'ДД.ММ.ГГГГ', ['textForm'])
			div.dropdown_date_wrapper
				+formCommon('date', 'Date Dropdown', '', ['date',])
				+formCommon('date', 'Date Dropdown', '', ['date', 'dropdown_date_checked'])
			+formCommon('text', 'Filter Date Dropdown', '', ['date', 'dropdown_date', 'dropdown_date_filter'])
			+formCommon('text', 'Subscription text field', 'Email', ['emailInput', 'subscribe_form'])
	section.first_row_wrapper(class= 'checkboxes-section')
		section.form_elements__checkboxes
			+formCheckbox('Checkbox Buttons', '', 'Example_buttons','', '', ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей<br>(до 10 гостей)'])
		section.form_elements__radio
			+formRadio('Radio Buttons', 'Example_radio', 'Мужчина', 'Женщина')
		section.form_elements__toggle
			+formToggle('Получать спецпредложения', 'example', 'Toggle')
			+formToggle('Получать спецпредложения', 'example_checked')
		section.form_elements__likes
			h3 Like button
			+buttonLike(2, 'like_def')
			+buttonLike(2, 'like_checked')
		section.form_elements__rate
			h3 Rate button
			+rangeRate('Rate_button')
			+rangeRate('Rate_button_example')
	section.first_row_wrapper(class='buttons-section')
		section.form_elements__range
				+rangeSlider(0, 15000, 'Range slider')
		section.form_elements_buttonCommon
			h3 Buttons
			div.form_elements_buttonCommon_wrapp
				+buttonCommon('Click me', 'enable', 'button-purple')
				+buttonCommon('Click me', 'disabled', 'button-purple')(disabled='disabled')
			div.form_elements_buttonCommon_wrapp
				+buttonCommon('Click me', 'button-transparent')
				+buttonCommon('Click me', 'button-transparent')(disabled='disabled')
			div.form_elements_buttonCommon_wrapp
				+buttonCommon('Click me', 'button-no-borders')
				+buttonCommon('Click me', 'button-no-borders')(disabled='disabled')
			div.form_elements_buttonCommon_to-pay_wrapp
				+buttonCommon('Перейти к оплате', 'button-to-pay')
					svg(width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg")
						|<path d="M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z"/>
			section.form_elements_pagination
				+pagination('pagination')

div.second_row
	section.dropdowns
		div.dropdowns_room-options
			+dropdown('rooms', 'roomsDefault', 'dropdown', 'default', '', 'Спальни', 'Кровати','Ванные комнаты')(placeholder = 'Дополнительные опции')
			+dropdown('rooms', 'roomsExpanded', 'dropdown', 'expanded', 'expanded', 'Спальни', 'Кровати','Ванные комнаты')(placeholder = 'Дополнительные опции')
		+dropdown('guests', 'guestsDefault', 'dropdown', ' ', 'expanded', 'Взрослые', 'Дети','Младенцы')(placeholder = 'Сколько гостей')
		+dropdown('guests', 'guestsExpanded', 'dropdown', ' ', 'expanded', 'Взрослые', 'Дети','Младенцы')(placeholder = 'Сколько гостей')
div.third_row
	section.checkboxes-expendable_section
		+formCheckbox('expandable checkbox list', 'expandable', '', 'checkbox_expandable', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь'])
		+formCheckbox('expandable checkbox list', 'expandable', 'expanded','checkbox_expanded', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь'])
	section.checkox_rich
		+formCheckbox('rich Checkbox Buttons', '', 'Example_buttons','', 'rich', { 'Широкий коридор' : 'Ширина коридоров в номере<br> не менее 91 см.', 'Помощник для инвалидов': 'На 1 этаже вас встретит специалист<br>  и проводит до номера.'})
	section.bulletList
		+bulletList('Bullet list', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия - после 13:00, <br> а выезд до 12:00'])