section.typeStyles
	div.typeStyles__item
		h1 <span>H1</span>
		div.typeStyles__item_h1(class= 'typeStyles__item_example')
			h1 This one is the sub-section or <br>widget title
	div.typeStyles__item
		h2 <span>H2</span>
		div.typeStyles__item_h2(class= 'typeStyles__item_example')
			h2 Next one is the item title inside <br>widgets
	div.typeStyles__item
		h3 <span>H3</span>
		div.typeStyles__item_h3(class= 'typeStyles__item_example')
			h3 this is a label or cta text
	div.typeStyles__item
		div
			p <span>Body</span>
		div.typeStyles__item_p(class= 'typeStyles__item_example')
			p This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.
