section.typeStyles
	div.typeStyles__item
		h1 <span>H1</span>
		div.typeStyles__item_h1(class= 'typeStyles__item_example')
			h1 This one is the sub-section or <br>widget title
	div.typeStyles__item
		h2 <span>H2</span>
		div.typeStyles__item_h2(class= 'typeStyles__item_example')
			h2 Next one is the item title inside <br>widgets
	div.typeStyles__item
		h3 <span>H3</span>
		div.typeStyles__item_h3(class= 'typeStyles__item_example')
			h3 this is a label or cta text
	div.typeStyles__item
		div
			p <span>Body</span>
		div.typeStyles__item_p(class= 'typeStyles__item_example')
			p This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.
section.colors
	div.colors__block
		figure.colors__block_shade_100
		figcaption
			h2 <b>Dark Shade 100%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_75
		figcaption
			h2 <b>Dark Shade 75%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_50
		figcaption
			h2 <b>Dark Shade 50%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_25
		figcaption
			h2 <b>Dark Shade 25%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_shade_5
		figcaption
			h2 <b>Dark Shade 5%</b>
			p #1F2041
	div.colors__block
		figure.colors__block_purple
		figcaption
			h2 <b>Purple</b>
			p #BC9CFF
	div.colors__block
		figure.colors__block_green
		figcaption
			h2 <b>Green</b>
			p #6FCF97