.first_row{
  display: flex;
  padding-top: vw(62);
  justify-content: space-between;

}
.forms-section{
  padding-left: vw(109.8);
}

.checkboxes-section{
  padding-left: vw(24.8);
}

.buttons-section{
  padding-right: vw(111);
}

.dropdown_date_wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: vw(20);
}
.form_elements_buttonCommon{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding-top: vw(20);
  &_wrapp{
    display: flex;
    padding: vw(16) 0;
    div{
      margin-right: vw(21.5);
    }
  }
  &_to-pay_wrapp{
    padding: vw(13) 0;
  }
}

.form_elements_pagination{
  margin-top: vw(29);

}
.dropdowns{
  display: flex;
  justify-content: space-around;
}
.third_row{
  display: flex;
  justify-content: space-around;
}
