.first_row{
  display: flex;
  padding-top: vw(62);
  justify-content: space-between;

}
.forms-section{
  padding-left: vw(109.8);
}

.checkboxes-section{
  padding-left: vw(24.8);
}

.buttons-section{
  padding-right: vw(164);
}

.dropdown_date_wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: vw(20);
}

