div.cards_page
	div.first_column
		section.search_number
			h1.search_number__label Найдем номера под ваши пожелания
			div.search_number__dates_wrap
				+formCommon('Прибытие', ['date', 'date_from'], '', 'dateDropdown', 'search_number__arriving_date')(placeholder='ДД.ММ.ГГГГ')
				+formCommon('Выезд', ['date', 'date_to'], '', 'dateDropdown', 'search_number__departure_date')(placeholder='ДД.ММ.ГГГГ')
			+dropdown('guests', 'search_number__guests_dropdown', 'гости', '', '', ['Взрослые', 'Дети','Младенцы'])(placeholder='Сколько гостей')
			+buttonCommon('Подобрать номер', 'toAct', ['button-to-do'], ['search_number__button_to-do'])
		section.signup
			h1.signup__label Регистрация аккаунта
			+formCommon('', ['textForm', 'textForm_signup'], '')(type='text' placeholder='Имя')
			+formCommon('', ['textForm', 'textForm_signup'], '')(type='text' placeholder='Фамилия')
			+formRadio('', 'signup__sex_radio', 'Мужчина', 'Женщина')
			+formCommon('Дата рождения', ['date', 'signup__birthdate', 'birthdate'], '', '', 'signup_birthdate')(placeholder='ДД.ММ.ГГГГ')
			+formCommon('Данные для входа в сервис', [ 'textForm'], '')(type='email' placeholder='Email')
			+formCommon('', ['textForm'], '', '', 'masked_text_example')(type='password' placeholder='Пароль')
			+formToggle('Получать спецпредложения', 'signup__toggle', '')
			+buttonCommon('Перейти к оплате', 'toAct', ['button-to-do'], ['signup__button_to-do'])
			div.signup__login_wrap
				p.signup__login_ifExiste Уже есть аккаунт на Toxin
				+buttonCommon('Войти', '', ['button-transparent', 'signup__button-transparent'])
	div.second_column
		section.roomCard
			div.roomCard__label
				div.roomCard__label_number
					h3.roomCard__label_number_n №
					h1.roomCard__label_number_number 888
					p.roomCard__label_number_bonus люкс
				div.roomCard__label_pricing
					h3.roomCard__label_pricing_price 9 9990&#8381 &nbsp
					span.roomCard__label_pricing_per в сутки
			div.roomCard__dates_range
				+formCommon('Прибытие', ['date', 'date_from'], '', 'dateDropdown', 'roomCard__arriving_date')(placeholder='ДД.ММ.ГГГГ')
				+formCommon('Выезд', ['date', 'date_to'], '', 'dateDropdown', 'roomCard__departure_date')(placeholder='ДД.ММ.ГГГГ')
			+dropdown('guests', 'roomCard__guests_dropdown', 'гости', '', '', ['Взрослые', 'Дети','Младенцы'])(placeholder='Сколько гостей')
			section.roomCard__details
				div.roomCard__details_per-days
					p.roomCard__details_per-days-count 9 990&#8381 x 4 суток
					p.roomCard__details_per-days-price 39 690&#8381
				div.roomCard__details_fees_bonus
					div.roomCard__details_fees_bonus_wrap
						p.roomCard__details_fees_bonus-describe Сбор за услуги: скидка 2 179&#8381
						span.roomCard__details_fees_bonus-info i
					p.roomCard__details_fees_bonus-price 0&#8381
				div.roomCard__details_fees
					div.roomCard__details_fees_wrap
						p.roomCard__details_fees-describe Сбор за дополнительные<br> услуги
						span.roomCard__details_fees-info i
					p.roomCard__details_fees-price 300&#8381
				div.roomCard__details_total
					h2.roomCard__details_total_item(class ='roomCard_total') Итого
					div.roomCard__details_total_separator
					h2.roomCard__details_total_item(class ='roomCard_total') 38 018&#8381
			+buttonCommon('Забронировать', 'toAct', ['button-to-do'], ['roomCard__button_to-do'])
		section.log-in
			h1.log-in__label Войти
			+formCommon('', ['textForm'], '')(type='email' placeholder='Email')
			+formCommon('', ['textForm'], '', '', 'masked_text_example')(type='password' placeholder='Пароль')
			+buttonCommon('войти', 'toAct', ['button-to-do'], ['log-in__button_to-do'])
			div.log-in__signup_wrap
				p.log-in__signup_text Нет аккаунта на Toxin?
				+buttonCommon('Создать', '', ['button-transparent', 'log-in__button-transparent'])



	div.third_row
		section.card_date-field
			+formCommon('', ['date'], '', '', 'card_date_field')
		section.room-888
			img(src='./images/pages_image/room-888.png')
			div.room-888_general
				div.room-888__label
					div.room-888__label_number
						h3.room-888__label_number_n №
						h1.room-888__label_number_number 888
						p.room-888__label_number_bonus люкс
					div.room-888__label_pricing
						h3.room-888__label_pricing_price 9 9990&#8381 &nbsp
						span.room-888__label_pricing_per в сутки
				hr.room-888_general_hr
				div.room-888__rate
				+rangeRateQuerry('room-888_range-rate')
				+rangeRateQuerry('room-888_range-rate2')

