div.cards_page
	div.first_column
		+numberSearcher('main')
		+signupCard('main')

	div.second_column
		+roomOrder('888', 'люкс', '9 990', 'mainOrderCard')
		+logIn()




	div.third_row
		section.card_date-field
			+formCommon('', ['date'], '', '', 'card_date_field')
			+roomCard('888', 'room-888.png', 'люкс', '9 990', '5',  '145')
			+roomCard('840', 'room-840.png', '', '9 900', '4',  '65')
