main.form_elements
	div.first_row
		section.first_row_wrapper(class='forms-section')
			section.commonForms
				+formCommon('Text field', [ 'textForm'], 'Default', '', '1')(type='email' placeholder='Email')
				+formCommon('Text field' , [ 'textForm',], 'Hover/Focus', '', '2')(type='email' placeholder='This is pretty awesome')
				+dropdown('guests', 'guestsDefault_first', 'dropdown', ' ', '', ['Взрослые', 'Дети','Младенцы'])(placeholder = 'Сколько гостей')
				+formCommon('Masked Text Field', ['textForm'], '', '', 'masked_text_example')(type='password' placeholder='ДД.ММ.ГГГГ')
				div.dropdown_date_wrapper
					+formCommon('Date Dropdown', ['date'], '', 'dateDropdown', 'date_example_1')(type='text' placeholder='ДД.ММ.ГГГГ')
					+formCommon('Date Dropdown', ['date'], '', 'dateDropdown', 'date_example_2')(type='text' placeholder='')
				+formCommon('Filter Date Dropdown', ['date', 'dropdown_date_filter'], '', 'dateDropdown', 'date-filter_example')(type='text' placeholder='')
				+formCommon('Subscription text field', ['emailInput', 'subscribe_form'], '', 'subscribe')(type='text' placeholder='Email')
		section.first_row_wrapper(class= 'checkboxes-section')
			section.form_elements__checkboxes
				+formCheckbox('Checkbox Buttons', '', 'Example_buttons','', '', ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей<br>(до 10 человек)'])
			section.form_elements__radio
				+formRadio('Radio Buttons', 'Example_radio', 'Мужчина', 'Женщина')
			section.form_elements__toggle
				+formToggle('Получать спецпредложения', 'example', 'Toggle')
				+formToggle('Получать спецпредложения', 'example_checked')
			section.form_elements__likes
				h3.form_elements__likes__header Like button
				div.form_elements__likes_buttons__wrap
					+buttonLike('2', 'like_def')
					+buttonLike('12', 'like_checked', 'buttonLike_done')
			section.form_elements__rate
				h3.form_elements__rate__header Rate button
				div.form_elements__rate__wrap
					+rangeRateQuerry('form-element__rangeRate', '4')
					+rangeRateQuerry('form-element__rangeRate-2', '5')
		section.first_row_wrapper(class='buttons-section')
			section.form_elements__range
					+rangeSlider(0, 15000, 'Range slider')
			section.form_elements_buttonCommon
				h3.form_elements_buttonCommon__buttons-header Buttons
				div.form_elements_buttonCommon_wrapp(class='purple')
					+buttonCommon('Click me', '', 'enable', ['button-purple'])
					+buttonCommon('Click me', '', 'disabled', ['button-purple'])(disabled='disabled')
				div.form_elements_buttonCommon_wrapp(class='transparent')
					+buttonCommon('Click me', '', ['button-transparent'])
					+buttonCommon('Click me', '', ['button-transparent'])(disabled='disabled')
				div.form_elements_buttonCommon_wrapp(class='no-borders')
					+buttonCommon('Click me', '', ['button-no-borders'])
					+buttonCommon('Click me', '', ['button-no-borders'])(disabled='disabled')
				div.form_elements_buttonCommon_to-pay_wrapp
					+buttonCommon('Перейти к оплате', 'toAct', ['button-to-do'])

				section.form_elements_pagination
					+pagination('pagination', 'paginationId')

	div.second_row
		section.dropdowns
			div.dropdowns_room-options
				+dropdown('rooms', 'roomsDefault', 'dropdown', 'default', '', ['Спальни', 'Кровати','Ванные комнаты'])(placeholder = 'Дополнительные опции')
				+dropdown('rooms', 'roomsExpanded', 'dropdown', 'expanded', 'expanded', ['Спальни', 'Кровати','Ванные комнаты'])(placeholder = 'Дополнительные опции')
			+dropdown('guests', 'guestsDefault', 'dropdown', ' ', 'expanded', ['Взрослые', 'Дети','Младенцы'])(placeholder = 'Сколько гостей')
			+dropdown('guests', 'guestsExpanded', 'dropdown', ' ', 'expanded', ['Взрослые', 'Дети','Младенцы'])(placeholder = 'Сколько гостей')
	div.third_row
		section.checkboxes-expendable_section
			+formCheckbox('expandable checkbox list', 'expandable', '', 'checkbox_expandable', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь'])
			+formCheckbox('expandable checkbox list', 'expandable', 'expanded','checkbox_expanded', '', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь'])
		section.checkbox_rich
			+formCheckbox('rich Checkbox Buttons', '', '', 'Example_rich_buttons', 'rich', { 'Широкий коридор' : 'Ширина коридоров в номере<br> не менее 91 см.', 'Помощник для инвалидов': 'На 1 этаже вас встретит специалист<br>  и проводит до номера.'})
		section.bulletList
			+bulletList('Bullet list', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия - после 13:00, <br> а выезд до 12:00'])
	div.forth_row
		div.someGood_block
			+someGoods('Комфорт', 'Шумопоглащающие стены', 'head')
			+someGoods('Удобство', 'Окно в каждой из спален', 'house')

		+comment('murad', 'Мурад Сарафанов','murad_sarafanov.png', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')