doctype html
html
	include pug/includes/head
		title Headers & Footers
	include pug/mixin
	include pug/vars
	include pug/includes/cards_mixins
	body
		+logoGroup("#1F2041")
			//Pages Block
			//include pug/includes/pages/typeStyles
		//include pug/pages/form Elements_list
		//include pug/pages/cards
		include pug/pages/Headers&Footers
			//JavaScript blocks
			//scripts for form Elements


