doctype html
html
	include pug/includes/head
	include pug/mixin
	body
		+logoGroup("#1F2041")
		//div.colorsType
			//include pug/includes/typeStyles
		include pug/includes/form Elements_list
	script(src='./js/scripts/range_slider.js')
	