doctype html
html
	include pug/includes/head
	include pug/mixin
	include pug/vars
	include pug/includes/cards_mixins
	body
		+logoGroup("#1F2041")
			//Pages Block
			//include pug/includes/pages/typeStyles
			//include pug/pages/form Elements_list
		include pug/pages/cards
		//include pug/pages/Headers&Footers
			//JavaScript blocks
			//scripts for form Elements
			//script(src='./js/scripts/range_slider.js')
		//script(type="text/javascript" src='./js/jQuery/jquery-3.6.0.min.js')
		//script(type="text/javascript" src='./js/jQuery/pagination.js')
		//script(src='./js/scripts/animation-scripts.js')
		//script(src='../node_modules/air-datepicker/dist/js/datepicker.js')


