
@mixin formMixin($width) {
  form {
    width: $width;

    div {
      display:         flex;
      justify-content: space-between;
      margin-bottom: vw(5);
      padding:         0 0 0 vw(0.6);

      .form_explain{
        align-self: flex-end;
      }
    }

    input {
      margin: 0;
      height:        vw(42);
      border-width:  vw(1);
      border-color:  #{$shade25};
      border-radius: vw(4);
      width:         $width - vw(18.7);
      padding: 0 0 0 vw(17);
      &::-moz-placeholder{
        color: #{$shade25};
      }
      &::-webkit-input-placeholder{
        color: #{$shade25};
      }
    }
  }
}