@import 'functions';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'pages/form_elements';
//@import 'pages/colors_types';
body{
  font-family: 'Montserrat_Medium', sans-serif;
  color: #{$shade75};
  font-size: vw(14);
  padding-top: vw(30);
  padding-left: vw(30);
  margin: 0;
}
p{
  line-height: vw(24);
}
h1{
  font-family: 'Montserrat_Bold', sans-serif;
  color: #{$shade100};
  font-size: vw(24);
  line-height: vw(29.26);
  font-weight: 700;
  margin: 0;

}
h2{
  font-family: 'Montserrat_Bold', sans-serif;
  color: #{$shade100};
  font-size: vw(19);
  line-height: vw(23.16);
  //letter-spacing: 0.04em;
  margin: 0;
}
h3{
  font-family: 'Montserrat_Bold', sans-serif;
  color: #{$shade100};
  font-size: vw(12);
  text-transform: uppercase;
  line-height: vw(14.63);
  font-weight: 700;
  margin: 0;
}
p{
  margin: 0;
}

span{
  color: #{$shade50};
  font-family: Montserrat_Thin, sans-serif;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.form {
  padding-bottom: vw(21.6);
  .form__wrapper {
    display:         flex;
    justify-content: space-between;
    margin-bottom: vw(5);
    padding:         0 0 0 vw(0.6);
  }

  input {
    margin: 0;
    height:        vw(42);
    border-width:  vw(1);
    border-color:  #{$shade25};
    border-radius: vw(4);
    padding: 0 0 0 vw(17);
    cursor: pointer;

    &::-moz-placeholder{
      color: #{$shade25};
    }
    &::-webkit-input-placeholder{
      color: #{$shade25};
    }
  }
}
ul{
  text-decoration: none;

}
li {
  list-style: none;
}
//specific input forms block
.textForm{
  input{
    width: vw(320) - vw(18.5);
  }
}

.dropdown_guests{
  input{
    width: vw(320) - vw(18.5);
  }
}


.date{
  padding-bottom: vw(42);
  input{
    width: vw(150) - vw(18.5);
  }
}

.dropdown_date_filter{
  input{
    width: vw(266) - vw(18.5)
  }
}

.subscribe_form{
  input{
    width: vw(267) - vw(18.5)
  }
}

.checkbox {
  li {
    color:         #{$shade50};
    margin-bottom: vw(10.56);

    &:last-child {
      margin-bottom: 0;
    }
  }

  position:     relative;
  padding-left: vw(10);

  input {
    cursor: pointer;


    &[type=checkbox] {
      position: absolute;
      z-index:  -1;
      opacity:  0;
    }
  }

  label {
    cursor: pointer;
    
    p{
      display: inline-block;
    }
    &:before {
      content:        '';
      display:        inline-block;
      vertical-align: top;
      margin-right:   vw(9.74);
      height:         vw(20);
      width:          vw(20);
      border:         1px solid #{$shade25};
      border-radius:  vw(4);
    }
  }
//special conditions for checkbox
  input:checked + label:before {
    content:    '';
    border:     1px solid rgba(188, 156, 255, 1);
    background: url('../images/Confirm_check.svg') no-repeat center center;

  }

  input:not(:checked) + label:hover::before {
    background-image: linear-gradient(#6FCF97, #66D2EA);
    border-color: rgba(188, 156, 255, 1);
  }

  input:checked + label:hover::before {
    background-color: lightcoral;
    border-color:     darksalmon;
  }
}



